* {
  margin: 0;
  padding: 0;
}

.panel {
  width: 480px;
  min-height: 160px;
  margin: 50px auto;
  background: #eee;
}

.panel dt {
  min-height: 40px;
  line-height: 40px;
  background: #f9f9f9;
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
}


.panel dd {
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  transition: height .5s;
}